.card {
    border-radius: 0;

    &.bg-dark {
        border-color: $darklight;

        .card-header {
            border-bottom-color: $darklight;
        }
    }

    &-body {
        padding: .75rem;
    }

    &-news {
        .rohan-news {
            .news-info {
                .list-group {
                    &-item {
                        background-color: unset;
                        border-bottom: 1px dashed $darklight;
                        padding: 0.75rem .5rem;
                    }
                }
            }
        }

        .recent {
            .card-header {
                .nav-pills {
                    .nav-item:not(:first-child) {
                        margin-left: 1rem;
                    }

                    .nav-link {
                        padding: 0.25rem 1.25rem;
                        border-radius: 10rem;
                        font-size: 12px;
                        font-weight: 600;
                        border: 3px solid $darklight;
                        color: #6A6A6A;
                        text-transform: uppercase;

                        &.active {
                            color: $white;
                            border-color: darken($primary, 20%);
                        }
                    }
                }
            }

            .card-body {
                .list-group {
                    &-item {
                        background-color: unset;
                        border-bottom: 1px dashed $darklight;
                        padding: 0.75rem .5rem;

                        h5 {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}