.card {
    border-radius: 0;

    &.bg-dark {
        border-color: $darklight;

        .card-header {
            border-bottom-color: $darklight;
        }
    }

    &-body {
        padding: .75rem;
    }

    &-news {
        .rohan-news {
            .news-info {
                .list-group {
                    &-item {
                        background-color: unset;
                        border-bottom: 1px dashed $darklight;
                        padding: 0.75rem .5rem;
                    }
                }
            }
        }

        .recent {
            .card-header {
                .nav-pills {
                    .nav-item:not(:first-child) {
                        margin-left: 1rem;
                    }

                    .nav-link {
                        padding: 0.25rem 1.25rem;
                        border-radius: 10rem;
                        font-size: 12px;
                        font-weight: 600;
                        border: 3px solid $darklight;
                        color: #6A6A6A;
                        text-transform: uppercase;

                        &.active {
                            color: $white;
                            border-color: darken($primary, 20%);
                        }
                    }
                }
            }

            .card-body {
                .list-group {
                    &-item {
                        background-color: unset;
                        border-bottom: 1px dashed $darklight;
                        padding: 0.75rem .5rem;

                        h5 {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    &-gm {
        .time-open {
            img {
                height: 1.25rem;
                vertical-align: middle;
            }

            h4 {
                @include media-breakpoint-down(lg) {
                    font-size: 1rem;
                }
            }
        }
    }

    &-news-2{
        background-color: lighten($dark,5%);
        border-color: transparent;
        .card{
            &-text{
                color: $light;
                font-size: small;
            }
        }

        .badge{
            &-notice{
                background-color: $badge-notice;
                color: color-yiq(theme-color("light"));
            }
            &-event{
                background-color: $badge-event;
                color: color-yiq(theme-color("light"));
            }
            &-promotion{
                background-color: $badge-promotion;
                color: color-yiq(theme-color("light"));
            }
        }

        &:hover{
            text-decoration: none;
            border-color: $primary;
            &::before{
                content: '';
                position: absolute;
                background: rgba($dark,.9) url('../images/icons8-search-filled-40.png') no-repeat center center;
                width: 100%;
                height: 100%;
            }
            &::after{
                content: 'อ่านรายละเอียด';
                position: absolute;
                top: 60%;
                text-align: center;
                width: 100%;
                height: 100%;
                color: $light;
            }
        }
    }

    &-list-item{
        #list-item-scroll{
            position: relative;
            height: 500px;
        }
        .list-group{
            
            &-item{
                display: flex;
                align-items: center;
                background-color: lighten($dark,5%);
                border-radius: .25rem;
                margin-bottom: .5rem;
                @include transition($transition-base);
                &.active, &:hover{
                    background-color: lighten($dark,10%);
                    border-color: $gold;
                    @include transition($transition-base);
                }
                .item{
                    &-img{
                        width: 70px;
                        height: 70px;
                        background: url('../images/iTem Fame.png') no-repeat center center;
                        background-size: contain;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 1rem;
                        img{
                            width: 50%;
                            height: 50%;
                            object-fit: contain;
                        }
                    }
                    &-name{
                        display: block;
                        color: $light;
                        line-height: 1;
                    }
                    &-info{
                        color: $text-muted;
                        line-height: 1;
                    }
                }
            }
        }
        .card-footer{
            padding: 0;
            margin-top: -100px;
            position: relative;
        }
    }

    &-download{
        .card-footer{
            background-color: #070707;
        }
    }
}