.container {

    @include media-breakpoint-down(lg) {
        max-width: 100% !important;
        width: 100% !important;
    }
}

.landing-page {
    background: $body-bg url('../images/bg-landing.jpg') no-repeat top center;
    background-size: auto;
}

.carousel-indicators {
    // margin-bottom: .5rem;

    li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border: 2px solid transparent;
    }

    .active {
        background-color: $black;
        border: 2px solid $primary;
    }
}

.m {
    &t {
        &-- {
            &2 {
                margin-top: -0.5rem;
            }
        }
    }
}