@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'TSTbackpower';
    src: url('../fonts/TST-back-power-Ext_Regular_V.2.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'TSTbackpower';
    src: url('../fonts/TST-back-power-Ext_Bold_V.2.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'TSTunited';
    src: url('../fonts/TST-united-Regular-V.1.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'TSTunited';
    src: url('../fonts/TST-united-Medium-V.1.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'TSTunited';
    src: url('../fonts/TST-united-Bold-V.1.ttf');
    font-weight: 700;
}

.font {
    &-prompt {
        font-family: 'Prompt';
    }

    &-tstb {
        font-family: 'TSTbackpower';
    }

    &-tstu {
        font-family: 'TSTunited';
    }
}