footer {
    .nav {
        &-link {
            color: $white;
            opacity: .25;

            div {
                font-family: $font-TSTbackpower;
                font-size: 17px;
                margin-bottom: -10px;
            }

            small {
                font-family: $font-TSTunited;
                font-size: 9px;
                text-transform: uppercase;
            }

            &:hover,
            &.active {
                opacity: 1;
            }
        }
    }

    .btn {
        background-color: #131313;
        border-color: #131313;
        color: #818181
    }
}