$primary: #ff3700;
$secondary:#C0C0C0;
$warning:#FE7900;
$danger:#EF1100;
$dark: #0B0B0B;
$darklight: #252525;
$gold: #C49B69;
$human: #2942DB;

$body-bg: #000000;
$body-color: #ffffff;

$badge-notice: #7EFA00;
$badge-event: #9837FF;
$badge-promotion: #FFB900;

$theme-colors: ("darklight": $darklight,
);

$font-prompt: 'Prompt';
$font-TSTbackpower: 'TSTbackpower';
$font-TSTunited: 'TSTunited';
$font-family-base: $font-prompt;
$headings-font-family: $font-TSTbackpower;

$font-size-heading: 0.975rem;
$h1-font-size: $font-size-heading * 2.5;
$h2-font-size: $font-size-heading * 2;
$h3-font-size: $font-size-heading * 1.75;
$h4-font-size: $font-size-heading * 1.5;
$h5-font-size: $font-size-heading * 1.25;
$h6-font-size: $font-size-heading;


$grid-breakpoints: (xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1600px);
$container-max-widths: (sm: 100%,
md: 100%,
lg: 100%,
xl: 100%,
xxl: 1557px);

$enable-responsive-font-sizes: true;
$rfs-base-font-size:1rem;

// Pagination
$pagination-bg: transparent;
$pagination-color: white;
$pagination-active-color: black;